.button
{
    -fx-background-color : #FFF;
    -fx-border-color: #355ECE;
    -fx-text-fill:  #0C3988;
}
.button:hover
{
    -fx-background-color : #355ECE ;
    -fx-text-fill:  #FFF;
}
.button:pressed
{
    -fx-background-color : #0C39FF ;
    -fx-text-fill: #FFF;
}

.button2
{
    -fx-background-color :  #0C39FF;
    -fx-border-color: #FFF;
    -fx-text-fill:  #FFF;
}
.button2:hover
{
    -fx-background-color : #0C3988 ;
    -fx-text-fill:   #FFF;
}
.button2:pressed
{
    -fx-background-color : #0C3400 ;
    -fx-text-fill: #FFF;
}

.text-field{
    -fx-border-color : #355ECE;
    -fx-text-fill:  #0C3988;
}